NODE_ENV=development
PORT=4000

# Use postgres for production. For quick local dev you can switch the Prisma
# provider in prisma/schema.prisma to "sqlite" and use:  file:./dev.db
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cryptex?schema=public"

JWT_SECRET=replace-with-long-random-string
JWT_EXPIRES_IN=15m
REFRESH_SECRET=replace-with-another-long-random-string
REFRESH_EXPIRES_IN=30d

# Optional
REDIS_URL=redis://localhost:6379
CORS_ORIGIN=http://localhost:3000

# CoinGecko works without a key for basic usage
COINGECKO_BASE=https://api.coingecko.com/api/v3

# Stripe (optional)
STRIPE_SECRET_KEY=

# AWS S3 (optional)
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
